<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>使用计算属性的简写</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <h2>使用计算属性的简写</h2>
        姓：<input type="text" v-model="firstName"/><br/><br/>
        名：<input type="text" v-model="lastName"/><br/><br/>
        全名： <span>{{fullName}}</span>
    </div>
    
    <script>
        Vue.config.productionTip = false  // 阻止 vue在启动时生成生产提示。
        let vm = new Vue({
            el: '#root',
            data: {
                firstName: '赵',
                lastName: '四'
            },
            computed: {  
                fullName(){
                    return this.firstName + '-' + this.lastName;
                }
            }
        });
    </script>
</body>
</html>